In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Read the data
df = pd.read_csv('~/kaggle/input/melbourne-housing-snapshot/melb_data.csv')

In [3]:
print(df.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [7]:
# Separate features and labels
y = df.Price
X = df.drop(['Price'], axis=1)

In [26]:
train_X, val_X, train_y, val_y = train_test_split(X, y,
                                                 train_size=0.8,
                                                 test_size= 0.2,
                                                random_state=0)

In [27]:
# Drop cols with missing values
cols_with_missing = [col for col in train_X.columns if train_X[col].isnull().any()]
train_X.drop(cols_with_missing, axis=1, inplace=True)
val_X.drop(cols_with_missing, axis=1, inplace=True)

/home/raxit/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [28]:
# Select categorical columns with low cardinality
# CARDINALITY is the number of unique values in a column
low_cardinality_cols = [cname for cname in train_X.columns
                       if train_X[cname].nunique() <10 and
                       train_X[cname].dtype == 'object']

In [29]:
# Selecting numerical columns
numerical_cols = [cname for cname in train_X.columns
                 if train_X[cname].dtype in ['int64', 'float64']]

In [30]:
# Keep only selected columns
selected_cols = low_cardinality_cols + numerical_cols
adjusted_train_X = train_X[selected_cols].copy()
adjusted_val_X = val_X[selected_cols].copy()

In [31]:
# Adjusted training data
adjusted_train_X.head()

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Propertycount
12167,u,S,Southern Metropolitan,1,5.0,3182.0,1.0,1.0,0.0,-37.85984,144.9867,13240.0
6524,h,SA,Western Metropolitan,2,8.0,3016.0,2.0,2.0,193.0,-37.85800,144.9005,6380.0
8413,h,S,Western Metropolitan,3,12.6,3020.0,3.0,1.0,555.0,-37.79880,144.8220,3755.0
2919,u,SP,Northern Metropolitan,3,13.0,3046.0,3.0,1.0,265.0,-37.70830,144.9158,8870.0
6043,h,S,Western Metropolitan,3,13.3,3020.0,3.0,1.0,673.0,-37.76230,144.8272,4217.0

In [32]:
# gelling a list of all categorical variables
s = (adjusted_train_X.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Type', 'Method', 'Regionname']

In [33]:
# Assesing performance of different approaches to deal with categorical data

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def score_dataset(X_train, X_test, y_train, y_test):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return mean_absolute_error(y_test, y_pred)

In [35]:
# Approach 1: Drop cols with categorical values

drop_train_X = adjusted_train_X.select_dtypes(exclude=['object'])
drop_test_X = adjusted_val_X.select_dtypes(exclude=['object'])

print("MAE from Approach 1 (Drop  categorical variables): ")
print(score_dataset(drop_train_X, drop_test_X, train_y, val_y))

MAE from Approach 1 (Drop  categorical variables):
175703.48185157913

In [39]:
# approach 2 : label encoding

from sklearn.preprocessing import LabelEncoder

# Make a copy to avoid changing orignal data
label_encoded_train_X = adjusted_train_X.copy()
label_encoded_val_X = adjusted_val_X.copy()

# Apply label encoder in each column
label_encoder = LabelEncoder()
for col in object_cols:
    label_encoded_train_X[col] = label_encoder.fit_transform(adjusted_train_X[col])
    label_encoded_val_X[col] = label_encoder.fit_transform(adjusted_val_X[col])

print("MAE from Approach 2 (Label Encoding): ")
print(score_dataset(label_encoded_train_X,  label_encoded_val_X, train_y, val_y))

MAE from Approach 2 (Label Encoding):
165936.40548390493

In [40]:
for col in object_cols:
    print(label_encoded_train_X[col].head)

<bound method NDFrame.head of 12167    2
6524     0
8413     0
2919     2
6043     0
547      0
4655     0
6082     0
5519     0
8571     0
6525     2
949      0
4350     2
10402    0
1403     2
3002     0
1914     0
6071     0
3951     1
2579     0
882      1
2576     0
6984     2
4484     0
10617    1
9610     0
10432    0
5221     2
2759     0
2458     2
        ..
1871     0
2046     0
7877     0
4851     0
5072     0
2163     0
6036     0
6921     0
6216     1
11085    0
537      0
9893     0
2897     0
7768     2
2222     2
10327    2
2599     0
705      1
3468     2
6744     0
5874     2
4373     0
7891     1
9225     0
4859     0
13123    0
3264     0
9845     0
10799    0
2732     0
Name: Type, Length: 10864, dtype: int64>
<bound method NDFrame.head of 12167    1
6524     2
8413     1
2919     3
6043     1
547      1
4655     3
6082     1
5519     1
8571     1
6525     3
949      1
4350     4
10402    3
1403     3
3002     1
1914     1
6071     1
3951     3
2579     1
882      1
2576     1
6984     1
4484     1
10617    1
9610     1
10432    3
5221     0
2759     4
2458     1
        ..
1871     0
2046     3
7877     0
4851     1
5072     1
2163     1
6036     1
6921     3
6216     1
11085    1
537      1
9893     3
2897     1
7768     1
2222     1
10327    1
2599     1
705      0
3468     3
6744     1
5874     1
4373     3
7891     1
9225     0
4859     1
13123    3
3264     1
9845     0
10799    1
2732     3
Name: Method, Length: 10864, dtype: int64>
<bound method NDFrame.head of 12167    5
6524     6
8413     6
2919     2
6043     6
547      5
4655     2
6082     6
5519     6
8571     6
6525     6
949      5
4350     2
10402    2
1403     2
3002     2
1914     2
6071     6
3951     6
2579     2
882      5
2576     2
6984     5
4484     2
10617    6
9610     2
10432    4
5221     2
2759     5
2458     6
        ..
1871     5
2046     2
7877     6
4851     5
5072     2
2163     0
6036     6
6921     2
6216     0
11085    6
537      5
9893     2
2897     2
7768     2
2222     5
10327    5
2599     2
705      5
3468     6
6744     6
5874     5
4373     2
7891     5
9225     5
4859     5
13123    2
3264     0
9845     2
10799    2
2732     6
Name: Regionname, Length: 10864, dtype: int64>

In [47]:
# Approach 3 : One-Hot Encoding

from  sklearn.preprocessing import OneHotEncoder

# Apply one-hot Encoder to each column with categorical values
OHE = OneHotEncoder(handle_unknown='ignore', sparse=False)

OHE_cols_train = pd.DataFrame(OHE.fit_transform(adjusted_train_X[object_cols]))
OHE_cols_val = pd.DataFrame(OHE.transform(adjusted_val_X[object_cols]))

# One-hot encoding removes index, put them back
OHE_cols_train.index = adjusted_train_X.index
OHE_cols_val = adjusted_val_X.index

# Remove categorical columns (these will be replaced by one-hot encoded columns)
num_X_train = adjusted_train_X.drop(object_cols, axis=1)
num_X_valid = adjusted_val_X.drop(object_cols, axis=1)

# Add one-hot encoded columns to dataframe
one_hot_train = pd.concat([num_X_train, OHE_cols_train], axis=1)
one_hot_val = pd.concat([num_X_valid, OHE_cols_val], axis=1)

print("MAE from Approach 3 (One-Hot Encoding): ")
print(score_dataset(one_hot_train, one_hot_val, train_y, val_y))

TypeError: cannot concatenate object of type "<class 'pandas.core.indexes.numeric.Int64Index'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid